/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body, html {
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
  font-family: 'Roboto', sans-serif;
  color: #323232;
}
h1 {
  font-size: 58px;
}
p {
  color: #323232;
}

.width-control {
  max-width: 980px;
  margin: 0 auto;
}

.navbar {
  background-color: #323232;
  width: 100%;
  height: 95px;
  padding-left: 45px;
  color: white;
  line-height: 85px;
  margin-bottom: 80px;
  border-bottom: 5px solid #1D96F5;
  -webkit-box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
  box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
}

.nav-item a {
  text-decoration: none;
  color: #686868;
  text-transform: uppercase;
}
.nav-item a:hover {
  background-color: #323232;
  color: #FBFBFB;
}
.header {
}

.header-left {
    padding: 20px 40px;
}

.header-right {
    padding: 20px 40px;
}

.bill-id {
  font-weight: bolder;
  margin-bottom: -15px;
  display: block;
  color: #686868;
  letter-spacing: 1;
}

.label-blue {
  background-color: #1D96F5;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 3px 15px;
  color: white;
  border-radius: 2px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
  box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
}

.date {
  text-align: center;
  width: 110px;
  height: 120px;
  border-radius: 4px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
  box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
}

.year, .month {
  text-transform: uppercase;
  font-weight: bolder;
  color: #686868;
  letter-spacing: 0.8px;
  display: inline-block;
}

.month {
  margin-top: 12px;
}

.day {
  font-size: 46px;
  display: inline-block;
  margin-bottom: -8px;
  margin-top: -8px;
}

.personal-details {
  padding: 20px 40px;
  margin-bottom: 60px;
}

.address {
  width: 250px;
  margin-top: 25px;
}

.address-head {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 5px;
  display: block;
  color: #686868;
  letter-spacing: 0.8px;
}

.edit-address {
  margin-top: 15px;
  display: block;
}

.line-items {
  margin: 10px 0;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
}

.line-items-head {
  margin: 10px 0;
  padding: 20px;
}

.line-items:hover {
  -webkit-box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
  box-shadow: 0px 7px 28px 3px rgba(0,0,0,0.14);
  border: 1px solid #EBEBEB;
}

.line-name-head {
  padding-left: 20px;
}
.line-description-head {
  padding-left: 20px;
}
.line-price-head {
  padding-left: 20px;
}
.line-edit-head {
  padding-left: 20px;
}

.line-name {
  padding-left: 20px;
}

.line-description {
  padding-left: 20px;
}

.line-price {
  padding-left: 20px;
}

.line-edit {
  padding-left: 20px;
}
